<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../libs/jquery/jquery.js"></script>
    <link rel="stylesheet" href="../css/backstage.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/backstage_index.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../js/backstage_index.js"></script>
</head>

<body>
    <script src="../js/common/backstage.js"></script>
    <div class="w">
        <div class="aside fl">
            <div class="title">
                我的店铺
            </div>
            <dl>
                <dt>
                    <a href="javascript:;">商品</a>
                </dt>
                <dd>
                    <a href="javascript:;">商品发布</a>
                </dd>
                <dd>
                    <a href="javascript:;">出售中的商品</a>
                </dd>
                <dd>
                    <a href="javascript:;">仓库中的商品</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="javascript:;">订单</a>
                </dt>
                <dd>
                    <a href="javascript:;" style="color:#e2313b;font-weight:700;">交易订单</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="javascript:;">促销</a>
                </dt>
                <dd>
                    <a href="javascript:;">抢购管理</a>
                </dd>
            </dl>
        </div>
        <div class="content fr">
            <ul class="zhuangtai">
                <li class="sale">
                    <div>
                        123
                    </div>
                    <span>出售中</span>
                </li>
                <li class="repository">
                    <div>
                        46
                    </div>
                    <span>仓库</span>
                </li>
                <li class="check">
                    <div>
                        12
                    </div>
                    <span>等待审核</span>
                </li>
            </ul>
            <div class="fengexian"></div>
            <div class="jiaoyidingdan">
                <span>交易订单</span>
                <a href="javascript:;">更多>></a>
                <div class="clear"></div>
            </div>
            <div class="function">
                <ul>
                    <li>
                        待发货
                    </li>
                    <li>
                        待收货
                    </li>
                </ul>
                <span>搜索</span>
                <input type="text" placeholder="输入关键字">
                <div class="clear"></div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th class="name">名称</th>
                        <th class="tele">电话</th>
                        <th class="goods">货号</th>
                        <th class="num">订单数量</th>
                        <th class="nums">库存量</th>
                        <th class="zhuangtai">状态</th>
                        <th class="money">应收金额</th>
                        <th class="date">订单日期</th>
                        <th class="caozuo"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>李嬷嬷</td>
                        <td>13252125412</td>
                        <td>SS56123</td>
                        <td>45</td>
                        <td>20</td>
                        <td class="fahuozhong">发货中</td>
                        <td>$452.413</td>
                        <td>2016.08.16</td>
                        <td>
                            <a href="javascript:;"><img src="../images/backstage_index/zhuizong_31.png" alt=""></a>
                        </td>
                    </tr>
                    <tr>
                        <td>李嬷嬷</td>
                        <td>13252125412</td>
                        <td>SS56123</td>
                        <td>45</td>
                        <td>20</td>
                        <td class="daifahuo">代发货</td>
                        <td>$452.413</td>
                        <td>2016.08.16</td>
                        <td>
                            <a href="javascript:;"><img src="../images/backstage_index/zhuizong_31.png" alt=""></a>
                        </td>
                    </tr>
                    <tr>
                        <td>李嬷嬷</td>
                        <td>13252125412</td>
                        <td>SS56123</td>
                        <td>45</td>
                        <td>20</td>
                        <td>代发货</td>
                        <td>$452.413</td>
                        <td>2016.08.16</td>
                        <td>
                            <a href="javascript:;">
                                <img src="../images/backstage_index/zhuizong_31.png" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>李嬷嬷</td>
                        <td>13252125412</td>
                        <td>SS56123</td>
                        <td>45</td>
                        <td>20</td>
                        <td>代发货</td>
                        <td>$452.413</td>
                        <td>2016.08.16</td>
                        <td>
                            <a href="javascript:;">
                                <img src="../images/backstage_index/caozuo_28.png" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>李嬷嬷</td>
                        <td>13252125412</td>
                        <td>SS56123</td>
                        <td>45</td>
                        <td>20</td>
                        <td>代发货</td>
                        <td>$452.413</td>
                        <td>2016.08.16</td>
                        <td>
                            <a href="javascript:;">
                                <img src="../images/backstage_index/caozuo_28.png" alt="">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clear"></div>
    </div>
    <script src="../js/common/footer.js"></script>
</body>

</html>