<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../libs/jquery/jquery.js"></script>
    <link rel="stylesheet" href="../css/backstage.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/backstage_repository.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../js/backstage_repository.js"></script>
</head>

<body>
    <script src="../js/common/backstage.js"></script>
    <div class="w">
        <div class="aside fl">
            <div class="title">
                我的店铺
            </div>
            <dl>
                <dt>
                    <a href="javascript:;">商品</a>
                </dt>
                <dd>
                    <a href="javascript:;">商品发布</a>
                </dd>
                <dd>
                    <a href="javascript:;">出售中的商品</a>
                </dd>
                <dd>
                    <a href="javascript:;" style="color:#e2313b;font-weight:700;">仓库中的商品</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="javascript:;">订单</a>
                </dt>
                <dd>
                    <a href="javascript:;">交易订单</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="javascript:;">促销</a>
                </dt>
                <dd>
                    <a href="javascript:;">抢购管理</a>
                </dd>
            </dl>
        </div>
        <table class="content fr">
            <thead>
                <tr>
                    <th colspan="7">
                        仓库中的商品
                    </th>
                </tr>
                <tr>
                    <th class="checkAll">
                        <input type="checkbox" id="chkAll">
                        <label for="chkAll">全选</label>
                        <img src="../images/backstage_prository/shangjia_03.png" alt="">
                    </th>
                    <th class="name">商品名称</th>
                    <th class="price">价格</th>
                    <th class="star">星级</th>
                    <th class="num">库存</th>
                    <th class="time">发布时间</th>
                    <th class="caozuo">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox">
                        <img src="../images/backstage_prository/goods_img_07.png" alt="">
                    </td>
                    <td>
                        鸭鸭(YAYA)秋冬女装中长款毛领加厚修身羽绒服女B-3933 黑色 165/88A
                    </td>
                    <td class="price">
                        $1000
                    </td>
                    <td class="star">
                        10000
                    </td>
                    <td>
                        100000
                    </td>
                    <td>
                        2017-12-08 10:20
                    </td>
                    <td class="caozuo">
                        <a href="javascript:;">编辑</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox">
                        <img src="../images/backstage_prository/goods_img_07.png" alt="">
                    </td>
                    <td>
                        鸭鸭(YAYA)秋冬女装中长款毛领加厚修身羽绒服女B-3933 黑色 165/88A
                    </td>
                    <td class="price">
                        $1000
                    </td>
                    <td class="star">
                        10000
                    </td>
                    <td>
                        100000
                    </td>
                    <td>
                        2017-12-08 10:20
                    </td>
                    <td class="caozuo">
                        <a href="javascript:;">编辑</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox">
                        <img src="../images/backstage_prository/goods_img_07.png" alt="">
                    </td>
                    <td>
                        鸭鸭(YAYA)秋冬女装中长款毛领加厚修身羽绒服女B-3933 黑色 165/88A
                    </td>
                    <td class="price">
                        $1000
                    </td>
                    <td class="star">
                        10000
                    </td>
                    <td>
                        100000
                    </td>
                    <td>
                        2017-12-08 10:20
                    </td>
                    <td class="caozuo">
                        <a href="javascript:;">编辑</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox">
                        <img src="../images/backstage_prository/goods_img_07.png" alt="">
                    </td>
                    <td>
                        鸭鸭(YAYA)秋冬女装中长款毛领加厚修身羽绒服女B-3933 黑色 165/88A
                    </td>
                    <td class="price">
                        $1000
                    </td>
                    <td class="star">
                        10000
                    </td>
                    <td>
                        100000
                    </td>
                    <td>
                        2017-12-08 10:20
                    </td>
                    <td class="caozuo">
                        <a href="javascript:;">编辑</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox">
                        <img src="../images/backstage_prository/goods_img_07.png" alt="">
                    </td>
                    <td>
                        鸭鸭(YAYA)秋冬女装中长款毛领加厚修身羽绒服女B-3933 黑色 165/88A
                    </td>
                    <td class="price">
                        $1000
                    </td>
                    <td class="star">
                        10000
                    </td>
                    <td>
                        100000
                    </td>
                    <td>
                        2017-12-08 10:20
                    </td>
                    <td class="caozuo">
                        <a href="javascript:;">编辑</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="gongneng">
                            <input type="checkbox" id="chekAll">
                            <label for="chekAll">全选</label>
                            <img src="../images/backstage_prository/shangjia_03.png" alt="">
                            <span>每页显示</span>
                            <select name="" id="">
                                <option value="">30</option>
                                <option value="">20</option>
                                <option value="">10</option>
                            </select>
                        </div>
                        <div class="page_num fr">
                            <div>
                                <div class="totle_page">
                                    <span>1</span>
                                    <span>/共</span>
                                    <span>5</span>
                                    <span>页</span>
                                </div>
                                <ul>
                                    <li class="first_page">
                                        <a href="javascript:;" class=" changeRed">
                                            首页
                                        </a>
                                    </li>
                                    <li class="up_page">
                                        <a href="javascript:;">
                                            上一页
                                        </a>
                                    </li>
                                    <li class="page_number">
                                        <a href="javascript:;">
                                            1
                                        </a>
                                    </li>
                                    <li class="page_number">
                                        <a href="javascript:;">
                                            2
                                        </a>
                                    </li>
                                    <li class="page_number">
                                        <a href="javascript:;">
                                            3
                                        </a>
                                    </li>
                                    <li class="page_number">
                                        <a href="javascript:;">
                                            4
                                        </a>
                                    </li>
                                    <li class="page_number">
                                        <a href="javascript:;">
                                            5
                                        </a>
                                    </li>
                                    <li class="next_page">
                                        <a href="javascript:;">
                                            下一页
                                        </a>
                                    </li>
                                    <li class="last_page">
                                        <a href="javascript:;">
                                            尾页
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>

</html>