<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../libs/jquery/jquery.js"></script>
    <link rel="stylesheet" href="../../libs/layui/css/layui.css">
    <script src="../../libs/layui/layui.js"></script>
    <link rel="stylesheet" href="../css/backstage.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/backstage_panic.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../js/backstage_panic.js"></script>
</head>

<body>
    <script src="../js/common/backstage.js"></script>
    <div class="w">
        <div class="aside fl">
            <div class="title">
                我的店铺
            </div>
            <dl>
                <dt>
                    <a href="javascript:;">商品</a>
                </dt>
                <dd>
                    <a href="javascript:;">商品发布</a>
                </dd>
                <dd>
                    <a href="javascript:;">出售中的商品</a>
                </dd>
                <dd>
                    <a href="javascript:;">仓库中的商品</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="javascript:;">订单</a>
                </dt>
                <dd>
                    <a href="javascript:;">交易订单</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="javascript:;">促销</a>
                </dt>
                <dd>
                    <a href="javascript:;" style="color:#e2313b;font-weight:700;">抢购管理</a>
                </dd>
            </dl>
        </div>
        <div class="content fr">
            <div class="option">
                <ul>
                    <li class="changePink">抢购列表</li>
                    <li>新增抢购</li>
                </ul>
                <span>活动状态</span>
                <select name="" id="">
                    <option value="">全部</option>
                </select>
                <input type="text" placeholder="抢购名称" class="panicName">
                <a href="javascript:;">搜索</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th class="name">商品名称</th>
                        <th class="price">抢购单价</th>
                        <th class="start">开始时间</th>
                        <th class="ending">结束时间</th>
                        <th class="buyed">已购买</th>
                        <th class="status">活动状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="../images/backstage_order/goods_img_11.png" alt="" class="fl">
                            <div class="fr">
                                <span>订单:15486313246543</span>
                                <p>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</p>
                            </div>
                        </td>
                        <td>
                            $1000
                        </td>
                        <td>
                            <div> 2018-1-16</div>
                            <div> 00:00</div>
                        </td>
                        <td>
                            <div>2018-1-16</div>
                            <div>00:00</div>
                        </td>
                        <td>
                            15
                        </td>
                        <td class="zhengchang">
                            正常
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/backstage_order/goods_img_11.png" alt="" class="fl">
                            <div class="fr">
                                <span>订单:15486313246543</span>
                                <p>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</p>
                            </div>
                        </td>
                        <td>
                            $1000
                        </td>
                        <td>
                            <div> 2018-1-16</div>
                            <div> 00:00</div>
                        </td>
                        <td>
                            <div>2018-1-16</div>
                            <div>00:00</div>
                        </td>
                        <td>
                            15
                        </td>
                        <td class="zhengchang">
                            正常
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/backstage_order/goods_img_11.png" alt="" class="fl">
                            <div class="fr">
                                <span>订单:15486313246543</span>
                                <p>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</p>
                            </div>
                        </td>
                        <td>
                            $1000
                        </td>
                        <td>
                            <div> 2018-1-16</div>
                            <div> 00:00</div>
                        </td>
                        <td>
                            <div>2018-1-16</div>
                            <div>00:00</div>
                        </td>
                        <td>
                            15
                        </td>
                        <td class="zhengchang">
                            正常
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/backstage_order/goods_img_11.png" alt="" class="fl">
                            <div class="fr">
                                <span>订单:15486313246543</span>
                                <p>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</p>
                            </div>
                        </td>
                        <td>
                            $1000
                        </td>
                        <td>
                            <div> 2018-1-16</div>
                            <div> 00:00</div>
                        </td>
                        <td>
                            <div>2018-1-16</div>
                            <div>00:00</div>
                        </td>
                        <td>
                            15
                        </td>
                        <td class="zhengchang">
                            正常
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/backstage_order/goods_img_11.png" alt="" class="fl">
                            <div class="fr">
                                <span>订单:15486313246543</span>
                                <p>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</p>
                            </div>
                        </td>
                        <td>
                            $1000
                        </td>
                        <td class="changeRed">
                            抢购中
                        </td>
                        <td>
                            <div>2018-1-16</div>
                            <div>00:00</div>
                        </td>
                        <td>
                            15
                        </td>
                        <td class="zhengchang">
                            正常
                        </td>
                    </tr>
                    <tr class="activeOver">
                        <td>
                            <img src="../images/backstage_order/goods_img_11.png" alt="" class="fl">
                            <div class="fr">
                                <span>订单:15486313246543</span>
                                <p>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</p>
                            </div>
                        </td>
                        <td>
                            $1000
                        </td>
                        <td>
                            <div> 2018-1-16</div>
                            <div> 00:00</div>
                        </td>
                        <td>
                            <div>2018-1-16</div>
                            <div>00:00</div>
                        </td>
                        <td>
                            15
                        </td>
                        <td class="zhengchang">
                            活动结束
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div class="gongneng">
                                <span>每页显示</span>
                                <select name="" id="">
                                    <option value="">30</option>
                                    <option value="">20</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                            <div class="page_num fr">
                                <div>
                                    <div class="totle_page">
                                        <span>1</span>
                                        <span>/共</span>
                                        <span>5</span>
                                        <span>页</span>
                                    </div>
                                    <ul>
                                        <li class="first_page">
                                            <a href="javascript:;" class=" changeRed">
                                                首页
                                            </a>
                                        </li>
                                        <li class="up_page">
                                            <a href="javascript:;">
                                                上一页
                                            </a>
                                        </li>
                                        <li class="page_number">
                                            <a href="javascript:;">
                                                1
                                            </a>
                                        </li>
                                        <li class="page_number">
                                            <a href="javascript:;">
                                                2
                                            </a>
                                        </li>
                                        <li class="page_number">
                                            <a href="javascript:;">
                                                3
                                            </a>
                                        </li>
                                        <li class="page_number">
                                            <a href="javascript:;">
                                                4
                                            </a>
                                        </li>
                                        <li class="page_number">
                                            <a href="javascript:;">
                                                5
                                            </a>
                                        </li>
                                        <li class="next_page">
                                            <a href="javascript:;">
                                                下一页
                                            </a>
                                        </li>
                                        <li class="last_page">
                                            <a href="javascript:;">
                                                尾页
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="clear"></div>
    </div>
    <script src="../js/common/footer.js"></script>
</body>

</html>