<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../libs/layui/css/layui.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/category.css">
    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../../libs/layui/layui.js"></script>
    <script src="../js/category.js"></script>

    <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <script src="../js/common/header.js"></script>
    <!-- 全部分类及轮播图模块 -->
    <div class="allkinds">
        <div class="w">
            <div class="left fl">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/category/aitamei_03.png" alt="">
                        </a>
                    </li>

                </ul>
                <a href="javascript:;" class="clearfix">查看全部品牌 >></a>
            </div>
            <div class="right fl">
                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <div>
                            <a href="javascript:;">
                                <img src="../images/category/banner_03.png" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:;">
                                <img src="../images/category/banner_03.png" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:;">
                                <img src="../images/category/banner_03.png" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:;">
                                <img src="../images/category/banner_03.png" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:;">
                                <img src="../images/category/banner_03.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 主体模块 -->
    <div class="main clearfix">
        <div class="w">
            <!-- 标题 -->
            <div class="title">
                <a href="javasript:;" class="first_title">婴儿用品</a>
                <span>></span>
                <a href="javascript:;" class="second_title">婴童护理</a>
            </div>
            <!-- 左边大模块 -->
            <div class="left fl">
                <div class="yyfs">
                    <div class="layui-collapse" lay-accordion>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">
                                <a href="javascript:;">
                                    营养辅食
                                </a>
                            </h2>
                            <div class="layui-colla-content layui-show">
                                <ul>
                                    <li>
                                        <a href="javascritp:;">
                                            益生菌
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            初乳
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            米粉
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            果汁
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            宝宝零食
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            宝宝零食
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            益生菌
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            初乳
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            米粉
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            果汁
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            宝宝零食
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            宝宝零食
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            益生菌
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            初乳
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            米粉
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            果汁
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            宝宝零食
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            宝宝零食
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            益生菌
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            初乳
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            米粉
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            果汁
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            宝宝零食
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascritp:;">
                                            宝宝零食
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-colla-item clearfix">
                            <h2 class="layui-colla-title">
                                <a href="javascript:;">
                                    婴童护理
                                </a>
                            </h2>
                            <div class="layui-colla-content">内容区域</div>
                        </div>
                    </div>
                </div>
                <div class="yzxlph">
                    <dl>
                        <dt>
                            一周销量排行
                        </dt>
                        <dd>
                            <a href="javascript:;">
                                <img src="../images/category/aside_03.png" alt="">
                                <p>婴儿清洁棉 进口天然棉 宝宝新生儿无菌擦拭棉 120片/袋</p>
                                <span>$289.00</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;">
                                <img src="../images/category/aside_03.png" alt="">
                                <p>婴儿清洁棉 进口天然棉 宝宝新生儿无菌擦拭棉 120片/袋</p>
                                <span>$289.00</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;">
                                <img src="../images/category/aside_03.png" alt="">
                                <p>婴儿清洁棉 进口天然棉 宝宝新生儿无菌擦拭棉 120片/袋</p>
                                <span>$289.00</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;">
                                <img src="../images/category/aside_03.png" alt="">
                                <p>婴儿清洁棉 进口天然棉 宝宝新生儿无菌擦拭棉 120片/袋</p>
                                <span>$289.00</span>
                            </a>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- 右边大模块 -->
            <div class="right fr">
                <!-- 商品筛选模块 -->
                <div class="spsx">
                    <div class="spsx_title">
                        <a href="javascript:;">
                            婴童服饰
                        </a>
                        <span>-</span>
                        <a href="javascript:;">
                            商品筛选
                        </a>
                        <a href="javascript:;" class="reset fr">
                            重置筛选条件
                        </a>
                    </div>
                    <div class="spsx_content">
                        <ul>
                            <li>
                                <dl>
                                    <dt>适合季节 :</dt>
                                    <dd>
                                        <a href="javascript:;" class="changeOrange">不限</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">春季</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">夏季</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">秋季</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">冬季</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">通用</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>面料材质 :</dt>
                                    <dd>
                                        <a href="javascript:;" class="changeOrange">不限</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">纯棉</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">80含棉</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">其他</a>
                                    </dd>
                                </dl>
                            </li>
                            <li class="price_section">
                                <dl>
                                    <dt>价格区间 :</dt>
                                    <dd>
                                        <a href="javascript:;" class="changeOrange">不限</a>
                                    </dd>
                                    <dd>
                                        <input type="checkbox" id="min_price" name="price">
                                        <label for="min_price">0-99</label>
                                    </dd>
                                    <dd>
                                        <input type="checkbox" id="second_price" name="price">
                                        <label for="second_price">100-199</label>
                                    </dd>
                                    <dd>
                                        <input type="checkbox" id="middle_price" name="price">
                                        <label for="middle_price">200-299</label>
                                    </dd>
                                    <dd>
                                        <input type="checkbox" id="max_price" name="price">
                                        <label for="max_price">300-399</label>
                                    </dd>
                                    <dd>
                                        <input type="checkbox" id="qctj" name="price">
                                        <label for="qctj">300-399</label>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>款式 :</dt>
                                    <dd>
                                        <a href="javascript:;" class="changeOrange">不限</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">长爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">三角爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">蝴蝶衣</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>款式 :</dt>
                                    <dd>
                                        <a href="javascript:;" class="changeOrange">不限</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">长爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">三角爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">蝴蝶衣</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>款式 :</dt>
                                    <dd>
                                        <a href="javascript:;" class="changeOrange">不限</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">长爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">三角爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">蝴蝶衣</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>款式 :</dt>
                                    <dd>
                                        <a href="javascript:;" class="changeOrange">不限</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">长爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">三角爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">蝴蝶衣</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>款式 :</dt>
                                    <dd>
                                        <a href="javascript:;" class="changeOrange">不限</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">长爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">三角爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">蝴蝶衣</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>款式 :</dt>
                                    <dd>
                                        <a href="javascript:;" class="changeOrange">不限</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">长爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">三角爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">蝴蝶衣</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>款式 :</dt>
                                    <dd>
                                        <a href="javascript:;" class="changeOrange">不限</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">长爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">三角爬服</a>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;">蝴蝶衣</a>
                                    </dd>
                                </dl>
                            </li>

                        </ul>
                        <div class="more_button">
                            <a href="javascript:;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="content clearfix">
                    <!-- 排序 -->
                    <div class="sort">
                        <div class="sort_left fl">
                            <dl>
                                <dt>
                                    排序:
                                </dt>
                                <dd>
                                    <a href="javascript:;" class="changeRed">
                                        综合排序
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        总销量
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        好评度
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        价格
                                    </a>
                                </dd>
                                <dd>
                                    <a href="javascript:;">
                                        上架时间
                                    </a>
                                </dd>
                            </dl>
                        </div>
                        <div class="sort_right fr">
                            <div class="sort_page fl">
                                <span>1</span>
                                <span>/2</span>
                            </div>
                            <a href="javascript:;" class="page_up fl">上一页</a>
                            <a href="javascript:;" class="page_next fl">下一页</a>
                        </div>
                    </div>
                    <!-- 促销 -->
                    <div class="cuxiao">
                        <dl>
                            <dt>筛选:</dt>
                            <dd>
                                <input type="checkbox" id="cuxiaoshangpin">
                                <label for="cuxiaoshangpin">促销商品</label>
                            </dd>
                        </dl>
                    </div>
                    <!-- 正文 -->
                    <div class="category_main">
                        <ul>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="javascritp:;">
                                        <img src="../images/category/main_03.png" alt="">
                                        <div class="xuxian"></div>
                                        <p>
                                            <span>春夏婴幼儿印花纱布蝶衣(粉黄星)66/48</span>
                                            <i>此商品参加满减800减200活动</i>
                                        </p>
                                        <div class="category_price">
                                            <div class="price fl">$289.00</div>
                                            <span class="pingjia fr">已有360人评论</span>
                                        </div>
                                        <div class="active">
                                            <img src="../images/category/youyouhui_07.png" alt="" class="youyouhui">
                                            <img src="../images/category/youzengpin_09.png" alt="" class="youcengpin">
                                        </div>
                                    </a>
                                    <div class="gouwuche">
                                        <span class="jian fl">
                                            <img src="../images/category/jian_03.png" alt="">
                                        </span>
                                        <input type="text fl" value='1'>
                                        <span class="jia fl">
                                            <img src="../images/category/jia_05.png" alt="">
                                        </span>
                                        <a href="javascript:;" class="fr">加入购物车</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="page_num">
                            <div>
                                <div class="totle_page">
                                    <span>1</span>
                                    <span>/共</span>
                                    <span>5</span>
                                    <span>页</span>
                                </div>
                                <ul>
                                    <li class="first_page">
                                        <a href="javascript:;" class=" changeRed">
                                            首页
                                        </a>
                                    </li>
                                    <li class="up_page">
                                        <a href="javascript:;">
                                            上一页
                                        </a>
                                    </li>
                                    <li class="page_number">
                                        <a href="javascript:;">
                                            1
                                        </a>
                                    </li>
                                    <li class="page_number">
                                        <a href="javascript:;">
                                            2
                                        </a>
                                    </li>
                                    <li class="page_number">
                                        <a href="javascript:;">
                                            3
                                        </a>
                                    </li>
                                    <li class="page_number">
                                        <a href="javascript:;">
                                            4
                                        </a>
                                    </li>
                                    <li class="page_number">
                                        <a href="javascript:;">
                                            5
                                        </a>
                                    </li>
                                    <li class="next_page">
                                        <a href="javascript:;">
                                            下一页
                                        </a>
                                    </li>
                                    <li class="last_page">
                                        <a href="javascript:;">
                                            尾页
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/common/aside.js"></script>
    <script src="../js/common/footer.js"></script>
    <script src="../js/common/common.js"></script>
</body>

</html>