<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../libs/layui/css/layui.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/change_password.css">
    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../../libs/layui/layui.js"></script>
    <script src="../js/change_password.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../../libs/layui/layui.all.js"></script>
</head>

<body>
    <script src="../js/common/header.js"></script>
    <div class="w">
        <div class="feedback_main">
            <span class="main_left fl">
                <div class="member_center">
                    会员中心
                </div>
                <dl class="check_order">
                    <dt>订单查询
                        <img src="../images/address_manage/xiajiantou_03.png" alt="">
                    </dt>
                    <dd>
                        <a href="javascript:;">我的订单</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">我的积分</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">我的星级</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">佣金管理</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">我的收藏</a>
                    </dd>
                </dl>
                <dl class="msg_manage">
                    <dt>资料管理
                        <img src="../images/address_manage/xiajiantou_03.png" alt="">
                    </dt>
                    <dd>
                        <a href="javascript:;">我的地址</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" style="color:#e2313b;font-weight:700;">账户安全</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">我的信息</a>
                    </dd>
                </dl>
                <dl class="service">
                    <dt>客户服务
                        <img src="../images/address_manage/xiajiantou_03.png" alt="">
                    </dt>
                    <dd>
                        <a href="javascript:;">意见反馈</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">关于我们</a>
                    </dd>
                </dl>

            </span>
            <div class="main_right fr">
                <div class="title">
                    <span>账户安全</span>
                </div>
                <div class="content layui-form">
                    <div class="layui-form-item oldPass">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <span>原密码:</span>
                                <input type="password" lay-verify="required|pass" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item oldPass">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <span>新密码:</span>
                                <input type="password" lay-verify="required|pass" autocomplete="off" class="layui-input password">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item oldPass">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <span>确认密码:</span>
                                <input type="password" lay-verify="required|repeatpass" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <img src="../images/myFeedback/giveup_03.png" alt="">

                        <div class="layui-form-item toolsBtn">
                            <div class="layui-input-block">
                                <button class="layui-btn submit" lay-submit="" lay-filter="demo1">
                                    <img src="../images/myFeedback/submit_05.png" alt="" class="fr">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <script src="../js/common/footer.js"></script>
</body>

</html>