<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../libs/layui/css/layui.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/detail.css">
    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../../libs/layui/layui.js"></script>
    <script src="../js/detail.js"></script>

    <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <script src="../js/common/header.js"></script>
    <div class="w">
        <div class="mianbaoxie">
            <a href="javascript:;">商城首页</a>
            <span>></span>
            <a href="javascript:;">服饰内衣</a>
            <span>></span>
            <a href="javascript:;">女装</a>
            <span>></span>
            <a href="javascript:;">打底衫</a>
            <span>></span>
            <a href="javascript:;">柯雷娜(Coreara)</a>
            <span>></span>
            <a href="javascript:;">[品质好货 全身加绒加厚] 韩版修身家长袖时尚百搭羊胎绒加绒加厚蕾丝打底衫女</a>
        </div>
        <div class="goumai clearfix">
            <div class="goumai_left">
                <ul class="big_img">
                    <li>
                        <img src="../images/detail/big_img_03.png" alt="">
                    </li>
                    <li class="displayNone">
                        <img src="../images/detail/small_img2_07.png" alt="">
                    </li>
                    <li class="displayNone">
                        <img src="../images/detail/small_img3_09.png" alt="">
                    </li>
                    <li class="displayNone">
                        <img src="../images/detail/small_img4_11.png" alt="">
                    </li>
                </ul>
                <ul class="small_img">
                    <li class="selected">
                        <img src="../images/detail/small_img1_07.png" alt="">
                    </li>
                    <li>
                        <img src="../images/detail/small_img2_07.png" alt="">
                    </li>
                    <li>
                        <img src="../images/detail/small_img3_09.png" alt="">
                    </li>
                    <li>
                        <img src="../images/detail/small_img4_11.png" alt="">
                    </li>
                </ul>
                <a href="javascript:;" class="left_button">
                    <img src="../images/detail/left_03.png" alt="">
                </a>
                <a href="javascript:;" class="right_button">
                    <img src="../images/detail/right_03.png" alt="">
                </a>
            </div>
            <div class="goumai_middle">
                <div class="middle_title">
                    [品质好货 全身加绒加厚] 韩版修身长袖时尚百搭羊胎绒加绒加厚蕾丝打底衫女 214藕粉色 M码
                </div>
                <div class="goodsNum">
                    1100139896S00
                </div>
                <div class="topxian">
                    <img src="../images/detail/top_xian_06.png" alt="">
                </div>
                <div class="price">
                    <span>商城价</span>
                    <span class="shangchengjia">$114.00</span>
                    <i>(原价:</i>
                    <span class="yuanjia">$280</span>
                    <i>)</i>
                    <span class="pingfen">商品评分</span>
                </div>
                <div class="shichangjia clearfix">
                    <span>市场价:</span>
                    <span class="shichangprice">$340.00</span>
                    <span class="xingji">500</span>
                </div>
                <div class="bottomxian">
                    <img src="../images/detail/bottom_xian_10.png" alt="">
                </div>
                <ul class="color clearfix">
                    <li>颜色</li>
                    <li>
                        <img src="../images/detail/color_06.png" alt="">
                    </li>
                    <li>
                        <img src="../images/detail/color_06.png" alt="">
                    </li>
                    <li>
                        <img src="../images/detail/color_06.png" alt="">
                    </li>
                    <li>
                        <img src="../images/detail/color_06.png" alt="">
                    </li>
                    <li>
                        <img src="../images/detail/color_06.png" alt="">
                    </li>
                    <li>
                        <img src="../images/detail/color_06.png" alt="">
                    </li>
                    <li>(已选择:
                        <span>黑色</span>)</li>
                </ul>
                <div class="shuliang">
                    <span>数量</span>
                    <div class="gouwuche">
                        <input type="text" value=1>
                        <a href="javascript:;" class="jia">
                            <img src="../images/detail/jia_17.jpg" alt="">
                        </a>
                        <a href="javascript:;" class="jian">
                            <img src="../images/detail/jian_20.png" alt="">
                        </a>
                    </div>
                    <i>
                        <span>(当前库存</span>
                        <span class="total">39999</span>
                        <span>件)</span>
                    </i>
                </div>
                <div class="kucun">
                    <span>[库存]</span>
                    <span>从上海仓发货</span>
                    <span>缺货</span>
                </div>
                <div class=" quehuo clearfix">"缺货"状态仍可下单,随后客服人员将联系您确认到货时间.</div>
                <a href="javascript:;" class="chaxun">
                    所在城市发货仓库查询
                </a>
                <div class="addgouwuche">
                    <a href="javascript:;" class="jiarugouwuche">
                        <img src="../images/detail/gouwuche_27.png" alt="">
                        <span>加入购物车</span>
                    </a>
                    <a href="javascript:;" class="shoucang">
                        <img src="../images/detail/shoucang_36.png" alt="">
                        <span>收藏</span>
                    </a>
                    <a href="javascript:;" class="jiagoucang">
                        <img src="../images/detail/jiarugouwuche_36.png" alt="">
                        <span>加入购物车收藏</span>
                    </a>
                </div>
            </div>
            <div class="goumai_right">
                <img src="../images/detail/logo_06.png" alt="" class="right_logo">
                <div class="zonghe">
                    <p>综合品分</p>
                    <ul>
                        <li>
                            <img src="../images/detail/xing_06.png" alt="">
                        </li>
                        <li>
                            <img src="../images/detail/xing_06.png" alt="">
                        </li>
                        <li>
                            <img src="../images/detail/xing_06.png" alt="">
                        </li>
                        <li>
                            <img src="../images/detail/xing_06.png" alt="">
                        </li>
                        <li>
                            <img src="../images/detail/xing_06.png" alt="">
                        </li>
                    </ul>
                </div>
                <div class="jianjie">
                    <div class="title">
                        商家简介
                    </div>
                    <p>
                        我的店铺您做主,您的魅力我做主!本店坚持以诚信求生存,以质量求发展,以服务求市场的经营理念!当您拍下商品后我们会在对短的时间内发货,原则上不超过24小时.本店不接受任何中差评,小价钱,讨价还价者请绕行.
                    </p>
                </div>
                <div class="gongsi">
                    <div class="name">
                        北京矩阵魔方网络科技有限公司
                    </div>
                    <div class="address">
                        公司地址:
                        <span>北京市朝阳区</span>
                    </div>
                    <a href="javascript:;" class="jinru">进入商家店铺</a>
                    <a href="javascript:;" class="shoucang">收藏商家店铺</a>
                </div>
            </div>
        </div>
        <div class="tuijiangoods">
            <img src="../images/detail/tuijianshangpin_03.png" alt="">
            <a href="javascript:;">更多>></a>
            <ul>
                <li>
                    <a href="javascript:;">
                        <img src="../images/detail/tuijian_img_07.png" alt="">
                        <div>韩版修身长袖时尚百搭加绒加厚打底衫女</div>
                        <span>$98.8</span>
                        <i>已售123笔</i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="../images/detail/tuijian_img_07.png" alt="">
                        <div>韩版修身长袖时尚百搭加绒加厚打底衫女</div>
                        <span>$98.8</span>
                        <i>已售123笔</i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="../images/detail/tuijian_img_07.png" alt="">
                        <div>韩版修身长袖时尚百搭加绒加厚打底衫女</div>
                        <span>$98.8</span>
                        <i>已售123笔</i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="../images/detail/tuijian_img_07.png" alt="">
                        <div>韩版修身长袖时尚百搭加绒加厚打底衫女</div>
                        <span>$98.8</span>
                        <i>已售123笔</i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="../images/detail/tuijian_img_07.png" alt="">
                        <div>韩版修身长袖时尚百搭加绒加厚打底衫女</div>
                        <span>$98.8</span>
                        <i>已售123笔</i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="../images/detail/tuijian_img_07.png" alt="">
                        <div>韩版修身长袖时尚百搭加绒加厚打底衫女</div>
                        <span>$98.8</span>
                        <i>已售123笔</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="goods_main clearfix">
            <div class="paihang fl">
                <dl>
                    <dt>商品排行榜</dt>
                    <dd>
                        <a href="javascript:;">
                            <img src="../images/detail/paihangbang_15.png" alt="">
                            <p>韩版修身长袖时尚百搭加绒厚蕾丝打底衫女</p>
                            <span>$98.9</span>
                            <i>已售123笔</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;">
                            <img src="../images/detail/paihangbang_15.png" alt="">
                            <p>韩版修身长袖时尚百搭加绒厚蕾丝打底衫女</p>
                            <span>$98.9</span>
                            <i>已售123笔</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;">
                            <img src="../images/detail/paihangbang_15.png" alt="">
                            <p>韩版修身长袖时尚百搭加绒厚蕾丝打底衫女</p>
                            <span>$98.9</span>
                            <i>已售123笔</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;">
                            <img src="../images/detail/paihangbang_15.png" alt="">
                            <p>韩版修身长袖时尚百搭加绒厚蕾丝打底衫女</p>
                            <span>$98.9</span>
                            <i>已售123笔</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;">
                            <img src="../images/detail/paihangbang_15.png" alt="">
                            <p>韩版修身长袖时尚百搭加绒厚蕾丝打底衫女</p>
                            <span>$98.9</span>
                            <i>已售123笔</i>
                        </a>
                    </dd>
                </dl>
            </div>
            <div class="content fr">
                <div class="xuanxiang">
                    <a href="javascript:;" class="miaoshu">
                        <img src="../images/detail/shangpinmiaoshu_11.png" alt="">
                    </a>
                    <a href="javascript:;" class="pingjia">
                        <img src="../images/detail/yonghupingjia_03.png" alt="">
                    </a>
                    <div></div>
                </div>
                <div class="main_content">
                    <div class="miaoshu_content">
                        <div class="xiangqing">
                            <p>品牌:约惠莎(Yuehuisha)</p>
                            <p>商品名称:[品质好货 全身加绒加厚] 韩版修身长袖时尚百搭加绒加厚蕾丝打底衫女 A214214藕粉色 XL</p>
                            <p>商品编号:17747933700 店铺:晨之美服饰专营店</p>
                            <p>商品毛重:300.00g 尺码:L 风格:韩版,甜美,复古,百搭 厚度:加厚 领型:圆领 流行元素:蕾丝 颜色:白色系</p>
                            <p>袖长:长袖 袖型:其他 适用年龄:30-40周岁 衣长:常规款 图案:纯色, 其他版型:修身型 材质:蕾丝</p>
                            <p>上市时间:2017秋季</p>
                        </div>
                        <ul class="images">
                            <li>
                                <img src="../images/detail/main_img_03.png" alt="">
                            </li>
                            <li>
                                <img src="../images/detail/main_img_19.png" alt="">
                            </li>
                            <li>
                                <img src="../images/detail/main_img_23.png" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="pingjia_content">
                        <div class="haoping fl">
                            <div class="baifenbi fl">
                                <img src="../images/detail/baifenbi_03.png" alt="">
                                <span>共</span>
                                <i>12345</i>
                                <span>人参与评价</span>
                            </div>
                            <ul class="jindutiao fl">
                                <li>
                                    <span>好评(</span>
                                    <i>81%</i>
                                    <span>)</span>
                                    <div>
                                        <div class="layui-progress layui-progress-big">
                                            <div class="layui-progress-bar layui-bg-red" lay-percent="80%"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span>中评(</span>
                                    <i>9%</i>
                                    <span>)</span>
                                    <div>
                                        <div class="layui-progress layui-progress-big">
                                            <div class="layui-progress-bar layui-bg-red" lay-percent="80%"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span>差评(</span>
                                    <i>10%</i>
                                    <span>)</span>
                                    <div>
                                        <div class="layui-progress layui-progress-big">
                                            <div class="layui-progress-bar layui-bg-red" lay-percent="80%"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="zhengwen">
                            <ul class="xuanze clearfix">
                                <li class="selected">
                                    <a href="javascript:;">
                                        <span>全部评论</span>
                                        <i>(16345)</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>好评</span>
                                        <i>(16345)</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>中评</span>
                                        <i>(16345)</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>差评</span>
                                        <i>(16345)</i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="neirong">
                                <li>
                                    <img src="../images/detail/touxiang_07.png" alt="">
                                    <span class="name">3215462315</span>
                                    <ul>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                    </ul>
                                    <div class="colorkind">
                                        <span>颜色分类:</span>
                                        <i>蓝色</i>
                                    </div>
                                    <div class="chima fl">
                                        <span>尺码:</span>
                                        <i>M</i>
                                    </div>
                                    <div class="pinglun">
                                        物美价廉,很不错,比预想的好很多,以后还会继续购买的!这个平台的质量真的值得信任的!
                                    </div>
                                    <div class="tupian">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                    </div>
                                    <div class="tianchong">

                                    </div>
                                </li>
                                <li>
                                    <img src="../images/detail/touxiang_07.png" alt="">
                                    <span class="name">3215462315</span>
                                    <ul>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                    </ul>
                                    <div class="colorkind">
                                        <span>颜色分类:</span>
                                        <i>蓝色</i>
                                    </div>
                                    <div class="chima fl">
                                        <span>尺码:</span>
                                        <i>M</i>
                                    </div>
                                    <div class="pinglun">
                                        物美价廉,很不错,比预想的好很多,以后还会继续购买的!这个平台的质量真的值得信任的!
                                    </div>
                                    <div class="tupian">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                    </div>
                                    <div class="tianchong">

                                    </div>
                                </li>
                                <li>
                                    <img src="../images/detail/touxiang_07.png" alt="">
                                    <span class="name">3215462315</span>
                                    <ul>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                    </ul>
                                    <div class="colorkind">
                                        <span>颜色分类:</span>
                                        <i>蓝色</i>
                                    </div>
                                    <div class="chima fl">
                                        <span>尺码:</span>
                                        <i>M</i>
                                    </div>
                                    <div class="pinglun">
                                        物美价廉,很不错,比预想的好很多,以后还会继续购买的!这个平台的质量真的值得信任的!
                                    </div>
                                    <div class="tupian">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                    </div>
                                    <div class="tianchong">

                                    </div>
                                </li>
                                <li>
                                    <img src="../images/detail/touxiang_07.png" alt="">
                                    <span class="name">3215462315</span>
                                    <ul>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                    </ul>
                                    <div class="colorkind">
                                        <span>颜色分类:</span>
                                        <i>蓝色</i>
                                    </div>
                                    <div class="chima fl">
                                        <span>尺码:</span>
                                        <i>M</i>
                                    </div>
                                    <div class="pinglun">
                                        物美价廉,很不错,比预想的好很多,以后还会继续购买的!这个平台的质量真的值得信任的!
                                    </div>
                                    <div class="tupian">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                    </div>
                                    <div class="tianchong">

                                    </div>
                                </li>
                                <li>
                                    <img src="../images/detail/touxiang_07.png" alt="">
                                    <span class="name">3215462315</span>
                                    <ul>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                    </ul>
                                    <div class="colorkind">
                                        <span>颜色分类:</span>
                                        <i>蓝色</i>
                                    </div>
                                    <div class="chima fl">
                                        <span>尺码:</span>
                                        <i>M</i>
                                    </div>
                                    <div class="pinglun">
                                        物美价廉,很不错,比预想的好很多,以后还会继续购买的!这个平台的质量真的值得信任的!
                                    </div>
                                    <div class="tupian">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                    </div>
                                    <div class="tianchong">

                                    </div>
                                </li>
                                <li>
                                    <img src="../images/detail/touxiang_07.png" alt="">
                                    <span class="name">3215462315</span>
                                    <ul>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../images/detail/xing_06.png" alt="">
                                        </li>
                                    </ul>
                                    <div class="colorkind">
                                        <span>颜色分类:</span>
                                        <i>蓝色</i>
                                    </div>
                                    <div class="chima fl">
                                        <span>尺码:</span>
                                        <i>M</i>
                                    </div>
                                    <div class="pinglun">
                                        物美价廉,很不错,比预想的好很多,以后还会继续购买的!这个平台的质量真的值得信任的!
                                    </div>
                                    <div class="tupian">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                        <img src="../images/detail/pinglun_img_11.png" alt="">
                                    </div>
                                    <div class="tianchong">

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="page_num">
                                <div>
                                    <div class="totle_page">
                                        <span>1</span>
                                        <span>/共</span>
                                        <span>5</span>
                                        <span>页</span>
                                    </div>
                                    <ul>
                                        <li class="first_page">
                                            <a href="javascript:;" class=" changeRed">
                                                首页
                                            </a>
                                        </li>
                                        <li class="up_page">
                                            <a href="javascript:;">
                                                上一页
                                            </a>
                                        </li>
                                        <li class="page_number">
                                            <a href="javascript:;">
                                                1
                                            </a>
                                        </li>
                                        <li class="page_number">
                                            <a href="javascript:;">
                                                2
                                            </a>
                                        </li>
                                        <li class="page_number">
                                            <a href="javascript:;">
                                                3
                                            </a>
                                        </li>
                                        <li class="page_number">
                                            <a href="javascript:;">
                                                4
                                            </a>
                                        </li>
                                        <li class="page_number">
                                            <a href="javascript:;">
                                                5
                                            </a>
                                        </li>
                                        <li class="next_page">
                                            <a href="javascript:;">
                                                下一页
                                            </a>
                                        </li>
                                        <li class="last_page">
                                            <a href="javascript:;">
                                                尾页
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/common/aside.js"></script>
    <script src="../js/common/footer.js"></script>
    <script src="../js/common/common.js"></script>
</body>

</html>