<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/enter_index.css">
    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../js/enter_index.js"></script>
</head>

<body>
    <script src="../js/common/header.js"></script>
    <div class="enter_banner">
        <div class="w">
            <div class="content">
                <div class="title">
                    亲爱的:矩阵魔方
                </div>
                <p>欢迎来到全商汇</p>
                <p>若您还没有填写入驻申请资料</p>
                <p>请点击"
                    <span>我要入驻</span>"进行入驻资料填写</p>
                <br>
                <p>若您的店铺还没开通</p>
                <p>请通过"
                    <span>查看入驻进度</span>"了解店铺开通的最新状况</p>
                <img src="../images/enter_index/iwantenter_03.png" alt="" class="ruzhu">
                <a href="javascript:;">查看入驻进度>></a>
            </div>
        </div>
    </div>
    <div class="liucheng">
    </div>
    <div class="zhinan">
        <div class="w">
            <div class="zhaoshang">
                <div class="title">招商方向</div>
                <div class="content">
                    文字文字文字解释说明解释说明文字文字文字解释说明解释说明文字文字文字解释说明解释说明文字文字文字解释说明解释说明
                </div>
            </div>
            <div class="biaozhun">
                文字文字文字解释说明解释说明文字文字文字解释说明解释说明文字文字文字解释说明解释说明文字文字文字解释说明解释说明文字文字文字解释说明解释说明文字文字文字解释说明解释说明
            </div>
            <div class="yaoqiu">
                <div class="title">
                    资质要求
                </div>
                <div class="content">
                    文字文字文字解释说明解释说明文字文字文字解释说明解释说明文字文字文字解释说明解释说明文字文字文字解释说明解释说明文字文字文字解释说明解释说明
                </div>
            </div>
            <div class="zfbiaozhun">
                <div class="title">
                    资费标准
                </div>
                <div class="content">
                    文字文字文字解释说明解释说明文字文字文字解释说明解释说明文字文字文字解释说明解释说明文字文字文字解释说明解释说明
                </div>
            </div>
        </div>
    </div>
    <div class="my_advantage">
        <div class="w">
            <div class="advantage">
                <div class="title">我的优势</div>
                <div class="content">
                    文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
                </div>
            </div>
            <img src="../images/enter_index/enter_03.png" alt="">
        </div>
    </div>
    <script src="../js/common/footer.js"></script>
    <script src="../js/common/common.js"></script>
</body>

</html>