<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/enter_check.css">
    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../js/enter_check.js"></script>
</head>

<body>
    <script src="../js/common/header.js"></script>
    <div class="agreement_main w">
        <div class="aside fl">
            <div class="shenqing">
                商家入驻申请
            </div>
            <dl>
                <dt>入驻流程</dt>
                <dd>签署入驻协议</dd>
                <dd>商家信息提交</dd>
                <dd class="changeRed">平台审核资质</dd>
            </dl>
            <img src="../images/enter_agreement/cuxiao_03.png" alt="">
        </div>
        <div class="xieyi fr">
            <div class="title">
                <a href="javascript:;">签署入驻协议</a>
                <span>></span>
                <a href="javascript:;">商家信息提交</a>
                <span>></span>
                <a href="javascript:;" class="changeRed">平台审核资质</a>
            </div>
            <div class="content">
                <img src="../images/enter_check/check_03.png" alt="">
                <div>审核中，请耐心等待!</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <script src="../js/common/footer.js"></script>
    <script src="../js/common/common.js"></script>
</body>

</html>