<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/enter_agreement.css">
    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../js/enter_agreement.js"></script>
</head>

<body>
    <script src="../js/common/header.js"></script>
    <div class="agreement_main w">
        <div class="aside fl">
            <div class="shenqing">
                商家入驻申请
            </div>
            <dl>
                <dt>入驻流程</dt>
                <dd class="changeRed">签署入驻协议</dd>
                <dd>商家信息提交</dd>
                <dd>平台审核资质</dd>
            </dl>
            <img src="../images/enter_agreement/cuxiao_03.png" alt="">
        </div>
        <div class="xieyi fr">
            <div class="title">
                <a href="javascript:;" class="changeRed">签署入驻协议</a>
                <span>></span>
                <a href="javascript:;">商家信息提交</a>
                <span>></span>
                <a href="javascript:;">平台审核资质</a>
            </div>
            <div class="content">
                <h1>服务商入驻合作协议</h1>
                <p>甲方：</p>
                <p>乙方： 深圳视界信息技术有限公司</p>
                <p>为了更好地为拥有优质内容的商家服务以及保障消费者权益，甲乙双方本着甲、乙双方平等合作、互惠互利的原则，在符合相关法律法规，不违反市场竞争的情况下，甲方须遵循乙方的运营管理规范，经友好协商，甲乙双方签署以下入驻协议。</p>

                <p>一、合作内容</p>
                <p>1、甲方在乙方数多多平台创造服务商进行数据产品销售，乙方提供甲方更好地展现其服务商主页与商品信息，支付渠道代收货款等技术服务。</p>
                <p>2、本协议自甲方服务商在乙方数多多平台上线之日起生效。</p>

                <p>二、甲方权利与义务</p>
                <p>权利：</p>
                <p>1、乙方为甲方提供数多多平台的网络宣传。</p>
                <p>2、乙方为甲方在消费群体中做相关宣传介绍并进行相关推广，以提升甲方的曝光量。</p>
                <p>3、乙方为甲方进行相关的资质认证，并将信息展示给乙方平台用户。</p>
                <p>4、乙方按照《数多多服务协议》 ，每月定期将完成交易的代收款支付给予甲方指定的提现帐号。</p>

                <p>义务：</p>
                <p> 3、甲方全部数据产品均支持基于《数多多平台规范》的退款维权。</p>
                <p>4、甲方有义务在数据产品价值50元人民币以下，如发生用户购买数据产品申请平台介入退款时，配合乙方进行全额退款。高于50元人民币以上，参考《数多多平台规范》退款维权准则。</p>
                <p>5、如因特殊情况，甲方在经营过程对资质或创建服务商进行变更或取消的，甲方至少提前5个工作日告知乙方，并且在双方协议认可下才方可进行变更。</p>
                <p> 6、如乙方用户要求提供发票，由甲方负责提供。</p>
                <p> 7、甲方必须为自身提供数据产品的版权负责，明确该数据产品不涉及任何版权性质，如因此产生任何法律责任与诉讼，甲方全权负责到底，乙方无责。</p>
                <p>8、甲方必须为自身提供的数据产品负责，不出售，买卖任何涉及公民隐私相关数据，如因此产生任何法律责任与诉讼，甲方全权负责到底，乙方无责</p>
                <p> 9、甲方应及时关注乙方平台的《数多多服务协议》与《数多多平台规范》的修订与补充，遵守《数多多服务协议》与《数多多平台规范》的前提下进行运作，任何违反本协议，包括违反《数多多服务协议》与《数多多平台规范》的行为，甲方必须负责以此引发的法律责任。</p>
                <p>10、乙方在甲方与用户的交易中不收取交易佣金。</p>
                <p>11、乙方在甲方与用户的交易中收取技术服务费，具体技术服务费收取办法在《数多多服务协议》明确约定。</p>
                <p>12、甲方应保证需提供有盖章的单位资质证明复印件或个人真实签署的身份证复印件，因资质问题而产生的风险由甲方全部承担。</p>

                <p>三、乙方权利与义务</p>
                <p>乙方的权利</p>
                <p> 1、如甲方提供数据产品出现严重质量问题，乙方有权对甲方帐户进行临时市场管控。</p>
                <p>2、甲方在平台运作必须遵守《数多多服务协议》与《数多多平台规范》，如甲方违反本协议或《数多多服务协议》或《数多多平台规范》，乙方有权随时终止合作协议。</p>
                <p> 3、甲方作为乙方认证服务商，对自已的数据产品有义务保证数据质量达标。如发生多次因数据质量而发生退款维权，乙方有权保留关闭甲方服务商的权利。</p>
                <p>4、乙方在《数多多服务协议》与《数多多平台规范》的基础上，对甲方帐户与交易进行限制。</p>

                <p>乙方的义务</p>
                <p>1、服务商为经过乙方认证，乙方有义务在整个平台运营为甲方服务商输送流量与排名。</p>
                <p>2、乙方提供专职的客服，配合甲方经营过程中的各项工作，积极协调双方配合。</p>

                <p>四、合作约定</p>
                <p>1、双方的品牌归各自所有。</p>
                <br> 甲、乙双方均不可在对方未经授权的情况下使用对方名称、LOGO以及涉及相关内容的销售、促销宣传材料及广告、报纸、杂志、宣传单等。如因此产生的不良后果及损失由违约方自行全部承担。
                <br> 2、任何双方违反本协议所规定的义务导致另一方受到包括但不限于投诉、举报、诉讼或处罚、赔偿等损失，违约方在收到守约方要求纠正其违法行为的书面通知之日，应立即停止其违约行为，并在10日内赔偿守约方因此受到的损失。
                <br> 3、本协议任何一方均应对其获得对方的业务、经营、财务状况和其他保密资料予以严格保密，不得以任何形式向任何第三方披露。如因任何一方未能履行保密义务而给其他方造成任何损失的，应承担赔偿责任。
                <br> 4、甲方在使用乙方平台中，应保证每月成交 20 单以上，否则乙方有权将甲方下线。
                <br> 5、为保证更好的服务质量与做好平台管控，甲方在使用乙方平台中，应缴纳平台保证金，具体保证金额标准参考平台规定，以签订补充协议为准。如无违约情况发生，保证金在本协议终止15天之后予以退款。如发生违约情况，视具体罚金予以退款
                <br> 6、乙方可提供促销（满就送，满就减）、引流、推广（优惠券）等增值服务，甲方应无条件予配合。如需甲方支付平台外的推广费用，具体须签订补充协议方可进行。
                <br> 五、争议解决

                <br> 本协议项下争议由双方友好协商解决，无法达成一致情形，任何一方有权将整体提交至深圳视界信息技术有限公司所在地有管辖权的人民法院诉讼解决。
                <br> 六 协议生效及其他
                <br> 1、本协议由双方签字或盖章后生效。
                <br> 2、本协议正本一式两份，甲乙双方各执一份。
                <br> 以上无正文

                <br> 甲方签字： 乙方签字：深圳视界信息技术有限公司
                <br> 甲方身份证号：
                <br> 甲方服务商名称：
                <br> （盖章） （盖章）
                <br> 年 月 日 年 月 日
                <br>
            </div>
            <input type="checkbox" id="chk" checked="checked">
            <label for="chk">我已阅读并同意以上协议</label>
            <img src="../images/enter_agreement/agree_07.png" alt="">
        </div>
        <div class="clear"></div>
    </div>
    <script src="../js/common/footer.js"></script>
    <script src="../js/common/common.js"></script>
</body>

</html>