<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../libs/layui/css/layui.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../../libs/layui/layui.js"></script>
    <script src="../js/login.js"></script>
</head>

<body>
    <div class="logo">
        <div class="w">
            <img src="../images/login/logo_02.png" alt="">
        </div>
    </div>
    <div class="main">
        <div class="w">
            <div class="lunbo fl layui-carousel" id="test1">
                <div carousel-item>
                    <div>
                        <img src="../images/login/lunbo_06.png" alt="">
                    </div>
                    <div>
                        <img src="../images/login/lunbo_06.png" alt="">
                    </div>
                    <div>
                        <img src="../images/login/lunbo_06.png" alt="">
                    </div>
                    <div>
                        <img src="../images/login/lunbo_06.png" alt="">
                    </div>
                    <div>
                        <img src="../images/login/lunbo_06.png" alt="">
                    </div>
                </div>
            </div>
            <div class="login fr">
                <div class="zhuce">
                    <a href="javascript:;">免费注册</a>
                    <span>还没有注册?</span>
                </div>
                <form class="content ">
                    <input type="text" class="username" placeholder="账号">
                    <input type="password" class="password" placeholder="密码">
                    <div class="yanzhengma">
                        <input type="text" class="yanzheng" placeholder="验证码">
                        <img src="../images/login/yanzhengma_09.png" alt="">
                        <a href="javascript:;">
                            <img src="../images/login/reset_11.png" alt="">
                        </a>
                    </div>
                    <input type="checkbox" id="zidong" checked="checked">
                    <label for="zidong">自动登录(7天)</label>
                    <a href="./register.html" class="forgetpass">忘记密码?</a>
                    <a href="javascript:;" class="submit" >登录</a>
                </form>
            </div>
        </div>

    </div>
    <script src="../js/common/footer.js"></script>
</body>

</html>