<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../libs/layui/css/layui.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/myCollect.css">
    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../../libs/layui/layui.js"></script>
    <script src="../js/myCollect.js"></script>
    <script src="../js/common/common.js"></script>
</head>

<body>
    <script src="../js/common/header.js"></script>
    <div class="w">
        <div class="myCollect_main">
            <span class="main_left fl">
                <div class="member_center">
                    会员中心
                </div>
                <dl class="check_order">
                    <dt>订单查询
                        <img src="../images/address_manage/xiajiantou_03.png" alt="">
                    </dt>
                    <dd>
                        <a href="javascript:;">我的订单</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">我的积分</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">我的星级</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">佣金管理</a>
                    </dd>
                    <dd>
                        <a href="javascript:;" style="color:#e2313b;font-weight:700;">我的收藏</a>
                    </dd>
                </dl>
                <dl class="msg_manage">
                    <dt>资料管理
                        <img src="../images/address_manage/xiajiantou_03.png" alt="">
                    </dt>
                    <dd>
                        <a href="javascript:;">我的地址</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">账户安全</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">我的信息</a>
                    </dd>
                </dl>
                <dl class="service">
                    <dt>客户服务
                        <img src="../images/address_manage/xiajiantou_03.png" alt="">
                    </dt>
                    <dd>
                        <a href="javascript:;">意见反馈</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">关于我们</a>
                    </dd>
                </dl>

            </span>
            <div class="main_right">
                <div class="title">
                    <span>我的收藏</span>
                    <input type="text" placeholder="商品名称">
                    <a href="javascript:;">搜索</a>
                </div>
                <div class="content">
                    <ul>
                        <li>
                            <div class="store">
                                <input type="checkbox" class="chkAll">
                                <img src="../images/myCollect/store_03.png" alt="">
                                <span>店铺:锦荣服饰商城</span>
                                <a href="javascript:;" class="fr">删除全部</a>
                            </div>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="store">
                                <input type="checkbox" class="chkAll">
                                <img src="../images/myCollect/store_03.png" alt="">
                                <span>店铺:锦荣服饰商城</span>
                                <a href="javascript:;" class="fr">删除全部</a>
                            </div>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="store">
                                <input type="checkbox" class="chkAll">
                                <img src="../images/myCollect/store_03.png" alt="">
                                <span>店铺:锦荣服饰商城</span>
                                <a href="javascript:;" class="fr">删除全部</a>
                            </div>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="store">
                                <input type="checkbox" class="chkAll">
                                <img src="../images/myCollect/store_03.png" alt="">
                                <span>店铺:锦荣服饰商城</span>
                                <a href="javascript:;" class="fr">删除全部</a>
                            </div>
                            <ul>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                                <li>
                                    <input type="checkbox" class="checkBox">
                                    <img src="../images/myCollect/goods_img_07.png" alt="">
                                    <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                    <i class="danjia">单价:$780.00</i>
                                    <i class="xingji">星级:1000</i>
                                    <a href="javascript:;">删除</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="page_num">
                        <div>
                            <div class="totle_page">
                                <span>1</span>
                                <span>/共</span>
                                <span>5</span>
                                <span>页</span>
                            </div>
                            <ul>
                                <li class="first_page">
                                    <a href="javascript:;" class=" changeRed">
                                        首页
                                    </a>
                                </li>
                                <li class="up_page">
                                    <a href="javascript:;">
                                        上一页
                                    </a>
                                </li>
                                <li class="page_number">
                                    <a href="javascript:;">
                                        1
                                    </a>
                                </li>
                                <li class="page_number">
                                    <a href="javascript:;">
                                        2
                                    </a>
                                </li>
                                <li class="page_number">
                                    <a href="javascript:;">
                                        3
                                    </a>
                                </li>
                                <li class="page_number">
                                    <a href="javascript:;">
                                        4
                                    </a>
                                </li>
                                <li class="page_number">
                                    <a href="javascript:;">
                                        5
                                    </a>
                                </li>
                                <li class="next_page">
                                    <a href="javascript:;">
                                        下一页
                                    </a>
                                </li>
                                <li class="last_page">
                                    <a href="javascript:;">
                                        尾页
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="fl">
                        <input type="checkbox" id="allCheck">
                        <label for="allCheck">全选</label>
                        <a href="javascript:;" class="deleteAll">删除</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <script src="../js/common/footer.js"></script>
</body>

</html>