<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../libs/layui/css/layui.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/order_details.css">
    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../../libs/layui/layui.js"></script>
    <script src="../js/order_details.js"></script>
    <script src="../js/common/common.js"></script>
</head>

<body>
    <script src="../js/common/header.js"></script>
    <div class="w">
        <div class="details_main">
            <span class="main_left fl">
                <div class="member_center">
                    会员中心
                </div>
                <dl class="check_order">
                    <dt>订单查询
                        <img src="../images/address_manage/xiajiantou_03.png" alt="">
                    </dt>
                    <dd>
                        <a href="javascript:;" style="color:#e2313b;font-weight:700;">我的订单</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">我的积分</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">我的星级</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">佣金管理</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">我的收藏</a>
                    </dd>
                </dl>
                <dl class="msg_manage">
                    <dt>资料管理
                        <img src="../images/address_manage/xiajiantou_03.png" alt="">
                    </dt>
                    <dd>
                        <a href="javascript:;">我的地址</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">账户安全</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">我的信息</a>
                    </dd>
                </dl>
                <dl class="service">
                    <dt>客户服务
                        <img src="../images/address_manage/xiajiantou_03.png" alt="">
                    </dt>
                    <dd>
                        <a href="javascript:;">意见反馈</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">关于我们</a>
                    </dd>
                </dl>

            </span>
            <div class="main_right">
                <div class="zhuangtai">
                    <span class="order_num">订单号:555530853</span>
                    <span>状态:</span>
                    <i>等待付款</i>
                    <a href="javascript:;">
                        <img src="../images/order_details/lijizhifu_03.png" alt="">
                    </a>
                    <a href="javascript:;" class="quxiao">
                        <img src="../images/order_details/quxiaodingdan_05.png" alt="">
                    </a>
                </div>
                <p class="kefu">
                    您有疑问,可以联系官方客户及400-608-1000客服电话.
                </p>
                <img src="../images/order_details/tijiaozhuangtai_10.png" alt="" class="liucheng">
                <a href="javascript:;" class="chakanjifen">查看积分</a>
                <div class="genzong">订单跟踪</div>
                <table border="1">
                    <thead>
                        <th class="time">处理时间</th>
                        <th class="content"></th>
                        <th class="caozuoren">操作人</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                2011-10-8 10:10:10
                            </td>
                            <td>
                                您提交了订单,请等待系统确认
                            </td>
                            <td>
                                客户
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2011-10-8 10:10:10
                            </td>
                            <td>
                                您提交了订单,请等待系统确认
                            </td>
                            <td>
                                客户
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2011-10-8 10:10:10
                            </td>
                            <td>
                                您提交了订单,请等待系统确认
                            </td>
                            <td>
                                客户
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2011-10-8 10:10:10
                            </td>
                            <td>
                                您提交了订单,请等待系统确认
                            </td>
                            <td>
                                客户
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="consignee_msg">
                    <div class="title">收货人信息</div>
                    <div class="content">
                        <div>收货人:尚小伟</div>
                        <div>地址:广东深圳市南山区高新技术园北区北环大道9018号大族创新大厦A3B35</div>
                        <div>手机号码:13254125478</div>
                    </div>
                </div>
                <div class="payment">
                    <div class="title">支付及配送方式</div>
                    <div class="content">
                        <div>支付状态:未支付</div>
                        <div>支付类型:网上支付</div>
                        <div>支付方式:银联</div>
                        <div>运费:$15.00</div>
                        <div>
                            <span>配送方式</span>
                            <i>顺丰快递 123456789</i>
                        </div>
                        <a href="javascript:;">查看物流>></a>
                    </div>
                </div>
                <div class="goods_list">
                    <div class="title">
                        商品清单
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/order_details/goods_img_14.png" alt="">
                                <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                <i>×1</i>
                                <b>$199.00</b>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/order_details/goods_img_14.png" alt="">
                                <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                <i>×1</i>
                                <b>$199.00</b>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/order_details/goods_img_14.png" alt="">
                                <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                <i>×1</i>
                                <b>$199.00</b>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/order_details/goods_img_14.png" alt="">
                                <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                <i>×1</i>
                                <b>$199.00</b>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/order_details/goods_img_14.png" alt="">
                                <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                <i>×1</i>
                                <b>$199.00</b>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <img src="../images/order_details/goods_img_14.png" alt="">
                                <span>鸭鸭(YAYA)秋冬女装中长款毛领加厚修身 羽绒服女B-3933 黑色 165/88A</span>
                                <i>×1</i>
                                <b>$199.00</b>
                            </a>
                        </li>
                    </ul>
                    <div class="foot">
                        共计:6件
                    </div>
                </div>
                <div class="total_price">
                    <div class="fanjifen">返积分:-$0.00</div>
                    <div class="yunfei">运费:$15.00</div>
                    <div class="fuwufei">服务费:$0.00</div>
                    <div class="zonge">
                        <span>总额:</span>
                        <i>$207.00</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/common/footer.js"></script>
</body>

</html>