<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../libs/layui/css/layui.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/paySuccess.css">
    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../../libs/layui/layui.js"></script>
    <script src="../js/paySuccess.js"></script>
</head>

<body>
    <script src="../js/common/header.js"></script>
    <div class="w">
        <div class="paySuccess_main">
            <div class="pay_title">
                <img src="../images/paySuccess/gouwuche_03.png" alt="" class="gouwuche fl">
                <div class="fl">
                    <div>订单提交成功!</div>
                    <span>5秒</span>
                    <i>之后自动返回首页</i>
                </div>
            </div>
            <div class="dingdan">
                <span>订单号:</span>
                <i class="dingdanhao">12346587913</i>
                <span>订单总额:</span>
                <i class="dingdanzonge">$789.00</i>
                <span>您可以在用户中心</span>
                <a href="javascript:;">我的订单</a>
                <span>查看该订单</span>
            </div>
            <a href="javascript:;" class="checkorder">
                <img src="../images/paySuccess/check_order_07.png" alt="">
            </a>
        </div>
    </div>
    <script src="../js/common/footer.js"></script>
</body>

</html>