.header {
  height: 40px;
  background-color: #eeeeee;
  font-size: 14px;
}
.header .return {
  float: left;
  line-height: 40px;
  color: #e01222;
  font-family: "SimSun";
}
.header ul {
  float: right;
}
.header ul li {
  float: left;
  margin: 0 12px;
  line-height: 40px;
}
.header ul li:last-child {
  margin-right: 0px;
}
.header ul #shu {
  margin: 0 8px;
}
.header ul #zc,
.header ul #dl {
  margin: 0 0;
}
.header ul #zc {
  margin-right: 14px;
}
.nav {
  height: 162px;
}
.nav .logo {
  height: 64px;
  width: 224px;
  float: left;
  margin: 38px 67px 49px 0;
  display: block;
  margin-right: 67px;
}
.nav .search {
  width: 560px;
  float: left;
  margin-top: 52px;
  margin-right: 20px;
}
.nav .search .top {
  height: 42px;
}
.nav .search .top input[type="text"] {
  height: 38px;
  width: 450px;
  border: 2px solid #e01222;
  float: left;
  font-size: 24px;
  color: #000000;
}
.nav .search .top a {
  height: 42px;
  width: 106px;
  font-size: 18px;
  line-height: 42px;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #e01222;
  border: none;
  text-align: center;
  float: right;
}
.nav .search .bottom {
  height: 25px;
}
.nav .search .bottom li {
  float: left;
  margin: 0 10px;
  color: #dfdfdf;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}
.nav .search .bottom li:first-child {
  margin-left: 7px;
}
.nav .mystore,
.nav .mycar {
  height: 41px;
  border: 1px solid #d7d7d7;
  float: left;
  margin: 52px 10px;
}
.nav .mystore img,
.nav .mycar img {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 5px 16px 5px 12px;
  float: left;
}
.nav .mystore span,
.nav .mycar span {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  float: left;
  color: #747474;
}
.nav .mystore {
  width: 133px;
}
.nav .mycar {
  width: 152px;
  float: right;
  margin-right: 0px;
}
.nav .mycar span {
  margin-right: 5px;
}
.nav .mycar i {
  background-image: url("../images/index/xiabiao.png");
  display: inline-block;
  height: 6px;
  width: 10px;
  float: left;
  margin-top: 18px;
}
.banner {
  height: 543px;
}
.banner .w {
  height: 40px;
}
.banner .w .category {
  float: left;
  width: 250px;
}
.banner .w .category span#spfl {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background-color: #4c4c4c;
  color: #fffefe;
}
.banner .w .category ul {
  padding-left: 20px;
  height: 500px;
  background-color: #4c4c4c;
  opacity: 0.8;
}
.banner .w .category ul li {
  padding-top: 20px;
  font-size: 16px;
  height: 16px;
  color: #fffefe;
}
.banner .w .category ul li a {
  color: #fffefe;
}
.banner .w .othercategory li {
  float: left;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-left: 30px;
  margin-top: 7px;
}
.banner .w .othercategory li a {
  font-size: 17px;
}
.banner .w .othercategory li.mzxp {
  float: right;
}
.banner .w .othercategory li:last-child {
  float: right;
  margin-right: 35px;
}
.banner .bannerimg {
  height: 498px;
  width: 100%;
  background: url("../images/index/banner.png") no-repeat center center;
  background-size: cover;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}
.remai {
  padding-top: 62px;
}
.remai .goodstitle {
  height: 62px;
}
.remai .goodstitle li {
  float: left;
  width: 156px;
  height: 59px;
  border-bottom: 3px solid #fff;
  margin-right: 16px;
  text-align: center;
  vertical-align: top;
  font-size: 23px;
}
.remai .goodstitle li:hover {
  color: #e01222;
  border-bottom: 3px solid #e01222;
}
.remai .goodscontent {
  height: 528px;
  border: 1px solid #e5e5e5;
  position: relative;
}
.remai .goodscontent li {
  position: absolute;
}
.remai .goodscontent li .left {
  float: left;
  width: 426px;
  height: 528px;
  position: relative;
  border-right: 1px solid #e5e5e5;
}
.remai .goodscontent li .left img {
  text-align: center;
  width: 340px;
  height: 400px;
  margin: 18px auto;
  position: absolute;
  left: 50%;
  margin-left: -170px;
}
.remai .goodscontent li .left p {
  width: 340px;
  position: absolute;
  left: 50%;
  margin-left: -170px;
  text-align: center;
  top: 440px;
  font-size: 22px;
}
.remai .goodscontent li .left i {
  width: 340px;
  top: 476px;
  position: absolute;
  left: 50%;
  margin-left: -170px;
  text-align: center;
  font-size: 18px;
  color: #e01222;
}
.remai .goodscontent li .right {
  float: left;
  width: 766px;
  height: 528px;
}
.remai .goodscontent li .right li {
  float: left;
  width: 254px;
  height: 264px;
  position: static;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.remai .goodscontent li .right img {
  display: inline-block;
  height: 140px;
  width: 140px;
  position: absolute;
  margin-top: 19px;
  left: 50%;
  margin-left: -70px;
}
.remai .goodscontent li .right p {
  height: 40px;
  width: 190px;
  position: absolute;
  top: 180px;
  left: 50%;
  margin-left: -95px;
  overflow: hidden;
  font-size: 17px;
  line-height: 20px;
}
.remai .goodscontent li .right i {
  position: absolute;
  bottom: 10px;
  font-size: 15px;
  color: #e01222;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  text-align: center;
  line-height: 15px;
}
.remai .goodscontent > li:nth-child(n+2) {
  display: none;
}
.main {
  height: 1000px;
}
.main > .w > ul > li {
  height: 1050px;
  margin-top: 75px;
}
.main > .w > ul > li .title {
  height: 53px;
  width: 100%;
  border-bottom: 1px solid  #000000;
}
.main > .w > ul > li .title img {
  vertical-align: baseline;
}
.main > .w > ul > li .title span {
  display: inline-block;
  font-size: 29px;
  height: 29px;
  margin-top: 10px;
  margin-left: 12px;
  line-height: 29px;
  vertical-align: top;
}
.main > .w > ul > li .title a {
  float: right;
  color: #e01222;
  font-size: 15px;
  margin-top: 20px;
}
.main > .w > ul > li .content {
  height: 985px;
  margin-top: 15px;
}
.main > .w > ul > li .content > ul > li {
  float: left;
  height: 318px;
  width: 198px;
  border: 1px solid #ccc;
  margin-left: 12px;
  margin-top: 11px;
  text-align: center;
}
.main > .w > ul > li .content > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.main > .w > ul > li .content > ul > li img {
  display: inline-block;
  width: 180px;
  height: 200px;
  margin-top: 10px;
}
.main > .w > ul > li .content > ul > li p {
  margin: 15px auto;
  width: 180px;
  height: 50px;
  font-size: 15px;
  line-height: 25px;
  overflow: hidden;
  margin-bottom: 10px;
}
.main > .w > ul > li .content > ul > li i {
  font-size: 14px;
  color: #e01222;
  line-height: 14px;
  display: inline-block;
  height: 14px;
}
.main > .w > ul > li .content > ul > li:first-child,
.main > .w > ul > li .content > ul li:nth-child(5) {
  width: 245px;
  margin-left: 0px;
  border: none;
}
.main > .w > ul > li .content > ul > li:nth-child(5) {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px;
  background-color: #f4f4f4;
}
.main > .w > ul > li .content > ul > li:nth-child(5) li {
  float: left;
  width: 100px;
  height: 37px;
  font-size: 17px;
  text-align: center;
  line-height: 37px;
  margin-top: 15px;
}
.main > .w > ul > li .content > ul > li:nth-child(5) li a {
  color: #666666;
  font-family: "MicrosoftYaHei";
}
.main > .w > ul > li .content > ul > li:nth-child(9) {
  margin-left: 0px;
}
.main > .w > ul > li .content > ul > li.bigimg {
  width: 512px;
  height: 320px;
  border: none;
  background: url("../images/index/1f-img2_11.png") no-repeat center center;
}
.main > .w > ul > li .content > ul > li.bigdiv {
  width: 227px;
}
.main > .w > ul > li .content > ul > li.bigdiv img {
  width: 200px;
}
.main > .w > ul > li .content > ul > li.bigdiv p {
  width: 200px;
}
.main > .w > ul > li .content > ul > li:first-child {
  position: relative;
  background: url("../images/index/1f-img1_09.png") no-repeat center center;
}
.main > .w > ul > li .content > ul > li:first-child div {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 77px;
  background-color: #fff;
  opacity: 0.8;
}
.main > .w > ul > li .content > ul > li:first-child div span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  color: #000;
  margin-top: 10px;
}
.main > .w > ul > li .content > ul > li:first-child div p {
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  color: #666666;
  margin-top: 13px;
}
.main > .w > ul > li .content > ul .threefloor li:nth-child(10) {
  margin-left: 0px;
}
