.aboutAs_main {
    margin-top: 25px;
    .main_left {
        width: 150px;
        display: inline-block;
        height: 478px;
        .member_center {
            height: 37px;
            background-color: #e01222;
            color: #fff;
            line-height: 37px;
            padding-left: 10px;
        }
        dl {
            border-left: 1px solid #dadada;
            border-right: 1px solid #dadada;
            border-bottom: 1px solid #dadada;
        }
        dt {
            border-top: 1px solid #dadada;
            border-bottom: 1px solid #dadada;
            background-color: #eeeeee;
            color: #333333;
            padding-left: 18px;
            line-height: 26px;
            font-weight: 700;
            img {
                margin-left: 50px;
                position: relative;
                bottom: 2px;
            }
        }
        dd {
            padding-left: 32px;
            color: #333333;
            line-height: 30px;
        }
        dd:last-child {
            margin-bottom: 18px;
        }
        dd:first-child {
            margin-top: 12px;
        }
    }
    .main_right {
        width: 1034px;
        display: inline-block;
        margin-left: 16px;
        .right_title {
            height: 44px;
            border: 1px solid #dadada;
            background-color: #f4f4f4;
            padding-left: 25px;
            li {
                cursor: pointer;
                float: left;
                margin-right: 30px;
                line-height: 44px;
            }
            .changeRed {
                color: #da0011;
                font-weight: 700;
            }
        }
        .right_content {
            border: 1px solid #dadada;
            border-top: none;
            padding: 30px 35px 140px 35px;
            line-height: 24px; 
        }
    }
}