.content {
    width: 1029px;
    border: 1px solid #dadada;
    display: table-cell;
    vertical-align: middle;
    >.title {
        height: 44px;
        border-bottom: 1px solid #dadada;
        background-color: #f4f4f4;
        color: #333333;
        padding-left: 20px;
        line-height: 44px;
    }
    .main {
        padding: 25px;
        .title {
            font-size: 16px;
            color: #333333;
            font-weight: 700;
            margin-bottom: 13px;
        }
        >div {
            margin-bottom: 15px;
            span {
                display: inline-block;
                width: 90px;
                height: 31px;
                line-height: 31px;
                text-align: right;
                color: #555555;
                margin-right: 6px;
            }
            >div {
                display: inline-block;
            }
        }
        .kind {
            select {
                width: 132px;
                height: 31px;
                border: 1px solid #bbbbbb;
                margin-right: 6px;
                color: #999999;
            }
        }
        .name {
            input {
                width: 568px;
                height: 31px;
                border: 1px solid #bdbdbd;
            }
            div {
                margin-left: 100px;
                color: #999999;
                margin-top: 5px;
            }
        }
        .maidian {
            span {
                position: relative;
                top: -125px;
            }
            textarea {
                width: 567px;
                height: 141px;
                border: 1px solid #bdbdbd;
            }
            div {
                margin-left: 100px;
                color: #999999;
                margin-top: 5px;
            }
        }
        .price,.star,.kucun,.yongjin {
            input {
                width: 145px;
                height: 31px;
                border: 1px solid #bdbdbd;
                font-size: 14px;
            }
            div {
                color: #999999;
                margin-left: 3px;
            }
        }
        .vr {
            input {
                height: 31px;
                width: 568px;
                font-size: 14px;
                border: 1px solid #bdbdbd;
            }
            div {
                color: #999999;
            }
        }
        .pinpai {
            select {
                width: 338px;
                height: 31px;
                
            }
        }
        .image {
            img {
                margin-right: 10px;
                margin-bottom: 5px;
            }
            .push {
                margin-left: 150px;
                color: #259d00;
                margin-right: 18px;
            }
            .delete {
                color: #cf0000;
            }
            p {
                margin-top: 8px;
                margin-left: 100px;
                width: 365px;
                color: #c4c4c4;
                line-height: 25px;
            }
        }
        .description {
            margin-top: 40px;
            position: relative;
            span {
                position: absolute;
                top: 0px;
            }
            >div {
                width: 805px;
                height: 530px;
                margin-left: 105px;
                margin-bottom: 33px;
            }
            section {
                .froala-element {
                    height: 430px;
                }
            }
        }
        .anniu {
            margin-left: 105px;
            margin-bottom: 58px;
            img {
                cursor: pointer;
            }
        }
        >img {
            cursor: pointer;   
            margin-bottom: 40px;         
        }
        .giveup {
            margin-left: 350px;
            margin-right: 16px;
        }
    }
}