.content {
  width: 1029px;
  border: 1px solid #dadada;
  display: table-cell;
  vertical-align: middle;
}
.content > .title {
  height: 44px;
  border-bottom: 1px solid #dadada;
  background-color: #f4f4f4;
  color: #333333;
  padding-left: 20px;
  line-height: 44px;
}
.content .main {
  padding: 25px;
}
.content .main .title {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 13px;
}
.content .main > div {
  margin-bottom: 15px;
}
.content .main > div span {
  display: inline-block;
  width: 90px;
  height: 31px;
  line-height: 31px;
  text-align: right;
  color: #555555;
  margin-right: 6px;
}
.content .main > div > div {
  display: inline-block;
}
.content .main .kind select {
  width: 132px;
  height: 31px;
  border: 1px solid #bbbbbb;
  margin-right: 6px;
  color: #999999;
}
.content .main .name input {
  width: 568px;
  height: 31px;
  border: 1px solid #bdbdbd;
}
.content .main .name div {
  margin-left: 100px;
  color: #999999;
  margin-top: 5px;
}
.content .main .maidian span {
  position: relative;
  top: -125px;
}
.content .main .maidian textarea {
  width: 567px;
  height: 141px;
  border: 1px solid #bdbdbd;
}
.content .main .maidian div {
  margin-left: 100px;
  color: #999999;
  margin-top: 5px;
}
.content .main .price input,
.content .main .star input,
.content .main .kucun input,
.content .main .yongjin input {
  width: 145px;
  height: 31px;
  border: 1px solid #bdbdbd;
  font-size: 14px;
}
.content .main .price div,
.content .main .star div,
.content .main .kucun div,
.content .main .yongjin div {
  color: #999999;
  margin-left: 3px;
}
.content .main .vr input {
  height: 31px;
  width: 568px;
  font-size: 14px;
  border: 1px solid #bdbdbd;
}
.content .main .vr div {
  color: #999999;
}
.content .main .pinpai select {
  width: 338px;
  height: 31px;
}
.content .main .image img {
  margin-right: 10px;
  margin-bottom: 5px;
}
.content .main .image .push {
  margin-left: 150px;
  color: #259d00;
  margin-right: 18px;
}
.content .main .image .delete {
  color: #cf0000;
}
.content .main .image p {
  margin-top: 8px;
  margin-left: 100px;
  width: 365px;
  color: #c4c4c4;
  line-height: 25px;
}
.content .main .goods_def table {
  color: #999999;
  display: inline-block;
  border: 0px solid #c5c5c5;
  border-collapse: collapse;
}
.content .main .goods_def table th,
.content .main .goods_def table tr {
  height: 31px;
}
.content .main .goods_def table th input,
.content .main .goods_def table tr input {
  width: 100%;
}
.content .main .goods_def table th td:first-child input,
.content .main .goods_def table tr td:first-child input {
  width: 90px;
  padding-left: 20px;
}
.content .main .goods_def table th td:nth-child(2) input,
.content .main .goods_def table tr td:nth-child(2) input {
  width: 380px;
  padding-left: 20px;
}
.content .main .goods_def table th td:last-child,
.content .main .goods_def table tr td:last-child {
  width: 55px;
}
.content .main .goods_def table thead .kind {
  width: 110px;
}
.content .main .goods_def table thead .options {
  width: 400px;
}
.content .main .goods_def table thead .add {
  width: 55px;
}
.content .main .goods_def table thead .add .addTr {
  color: #259d00;
  display: block;
  line-height: 31px;
  text-align: center;
}
.content .main .goods_def table .deleteTr {
  color: #cf0000;
  display: block;
  line-height: 31px;
  text-align: center;
  width: 50px;
}
.content .main .goods_options table {
  color: #999999;
  display: inline-block;
  border: 0px solid #c5c5c5;
  border-collapse: collapse;
}
.content .main .goods_options table th,
.content .main .goods_options table tr {
  height: 31px;
}
.content .main .goods_options table thead .one {
  width: 60px;
}
.content .main .goods_options table thead .options {
  min-width: 378px;
}
.content .main .goods_options table thead .add {
  width: 50px;
}
.content .main .goods_options table thead .add .addTr {
  color: #259d00;
  display: block;
  line-height: 31px;
  text-align: center;
  width: 50px;
}
.content .main .goods_options table tr td:first-child {
  min-width: 378px;
  max-width: 575px;
  padding-left: 10px;
}
.content .main .goods_options table tr td:nth-child(2),
.content .main .goods_options table tr td:nth-child(3),
.content .main .goods_options table tr td:nth-child(4) {
  width: 61px;
}
.content .main .goods_options table tr td:last-child {
  width: 50px;
}
.content .main .goods_options table tr input {
  height: 31px;
}
.content .main .goods_options table tr .deleteTr {
  color: #cf0000;
  display: block;
  line-height: 31px;
  text-align: center;
}
.content .main .goods_options table tr input {
  height: 31px;
  width: 61px;
}
.content .main .goods_options table tr .deleteTr {
  color: #cf0000;
  display: block;
  line-height: 31px;
  text-align: center;
  width: 50px;
}
.content .main .goods_options table tr select {
  height: 25px;
  text-align: center;
  width: 100px;
  margin-right: 10px;
}
.content .main .description {
  margin-top: 40px;
  position: relative;
}
.content .main .description span {
  position: absolute;
  top: 0px;
}
.content .main .description > div {
  width: 805px;
  height: 530px;
  margin-left: 105px;
  margin-bottom: 33px;
}
.content .main .description section .froala-element {
  height: 430px;
}
.content .main .anniu {
  margin-left: 105px;
  margin-bottom: 58px;
}
.content .main .anniu img {
  cursor: pointer;
}
.content .main > img {
  cursor: pointer;
  margin-bottom: 40px;
}
.content .main .giveup {
  margin-left: 350px;
  margin-right: 16px;
}
