body {
  font-size: 14px;
}
.feedback_main {
  margin-top: 25px;
}
.feedback_main .main_left {
  width: 150px;
  display: inline-block;
  height: 478px;
}
.feedback_main .main_left .member_center {
  height: 37px;
  background-color: #e01222;
  color: #fff;
  line-height: 37px;
  padding-left: 10px;
}
.feedback_main .main_left dl {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
.feedback_main .main_left dt {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  background-color: #eeeeee;
  color: #333333;
  padding-left: 18px;
  line-height: 26px;
  font-weight: 700;
}
.feedback_main .main_left dt img {
  margin-left: 50px;
  position: relative;
  bottom: 2px;
}
.feedback_main .main_left dd {
  padding-left: 32px;
  color: #333333;
  line-height: 30px;
}
.feedback_main .main_left dd:last-child {
  margin-bottom: 18px;
}
.feedback_main .main_left dd:first-child {
  margin-top: 12px;
}
.feedback_main .main_right {
  width: 1029px;
  border: 1px solid #dadada;
}
.feedback_main .main_right .title {
  padding: 14px 24px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #dadada;
}
.feedback_main .main_right .content {
  padding-top: 100px;
  padding-bottom: 110px;
}
.feedback_main .main_right .content > div {
  margin: 0 auto;
  width: 300px;
  margin-bottom: 14px;
}
.feedback_main .main_right .content > div span {
  width: 66px;
  text-align: right;
  display: inline-block;
  margin-right: 5px;
}
.feedback_main .main_right .content > div input {
  width: 222px;
  height: 29px;
  border: 1px solid #dadada;
}
.feedback_main .main_right .layui-form .button {
  width: 303px;
  height: 36px;
  margin: 0 auto;
  margin-top: 40px;
}
.feedback_main .main_right .layui-form .button img {
  cursor: pointer;
}
.feedback_main .layui-form-item .layui-input-inline {
  width: 300px;
}
.feedback_main .layui-input,
.feedback_main .layui-textarea {
  display: inline-block;
}
.feedback_main .layui-btn {
  background-color: #ffffff;
}
.feedback_main .layui-input-block {
  width: 136px;
  margin-left: 0px;
}
.feedback_main .toolsBtn {
  display: inline-block;
  width: 136px;
}
