body {
  font-size: 14px;
}
.daohang {
  background-color: #da0011;
}
.daohang li a {
  color: #ffffff;
}
.agreement_main {
  margin-top: 34px;
}
.agreement_main .aside {
  width: 150px;
}
.agreement_main .aside .shenqing {
  background-color: #e01222;
  line-height: 37px;
  color: #ffffff;
  padding-left: 10px;
}
.agreement_main .aside dl {
  border: 1px solid #dadada;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.agreement_main .aside dl dt {
  height: 26px;
  border-bottom: 1px solid #dadada;
  line-height: 26px;
  padding-left: 18px;
  color: #333333;
  background-color: #eeeeee;
  margin-bottom: 19px;
}
.agreement_main .aside dl dd {
  padding-left: 32px;
  margin-bottom: 16px;
  color: #333333;
  cursor: pointer;
}
.agreement_main .aside dl .changeRed {
  color: #da0011;
}
.agreement_main .xieyi {
  width: 1029px;
  border: 1px solid #dadada;
  padding-bottom: 30px;
}
.agreement_main .xieyi .title {
  height: 14px;
  padding: 15px 24px;
  background-color: #f4f4f4;
}
.agreement_main .xieyi .title a,
.agreement_main .xieyi .title span {
  position: relative;
  top: -3px;
}
.agreement_main .xieyi .title .changeRed {
  color: #da0011;
}
.agreement_main .xieyi .title span {
  margin: 0 26px;
}
.agreement_main .xieyi .content {
  padding: 25px 90px 30px 30px;
  line-height: 30px;
  height: 950px;
  overflow-y: scroll;
  margin-bottom: 60px;
}
.agreement_main .xieyi .content h1 {
  font-size: 24px;
  font-weight: 700;
  color: #222222;
  text-align: center;
}
.agreement_main .xieyi input {
  margin-left: 40px;
  margin-right: 6px;
  position: relative;
  top: -1px;
}
.agreement_main .xieyi img {
  margin-left: 155px;
  cursor: pointer;
}
