.header {
    height: 40px;
    background-color: #eeeeee;
    font-size: 14px;
  }
  .header .return {
    float: left;
    line-height: 40px;
    color: #e01222;
    font-family: "SimSun";
  }
  .header ul {
    float: right;
  }
  .header ul li {
    float: left;
    margin: 0 12px;
    line-height: 40px;
  }
  .header ul li:last-child {
    margin-right: 0px;
  }
  .header ul #shu {
    margin: 0 8px;
  }
  .header ul #zc,
  .header ul #dl {
    margin: 0 0;
  }
  .header ul #zc {
    margin-right: 14px;
  }
  .nav {
    height: 162px;
  }
  .nav .logo {
    height: 64px;
    width: 224px;
    float: left;
    margin: 38px 67px 49px 0;
    display: block;
    margin-right: 67px;
  }
  .nav .search {
    width: 560px;
    float: left;
    margin-top: 52px;
    margin-right: 20px;
  }
  .nav .search .top {
    height: 42px;
  }
  .nav .search .top input[type="text"] {
    height: 38px;
    width: 440px;
    border: 2px solid #e01222;
    float: left;
    font-size: 16px;
    color: #666666;
    padding-left: 10px;
  }
  .nav .search .top a {
    height: 42px;
    width: 106px;
    font-size: 18px;
    line-height: 42px;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #e01222;
    border: none;
    text-align: center;
    float: right;
  }
  .nav .search .bottom {
    height: 25px;
  }
  .nav .search .bottom li {
    float: left;
    margin: 0 10px;
    color: #dfdfdf;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
  }
  .nav .search .bottom li:first-child {
    margin-left: 7px;
  }
  .nav .mystore,
  .nav .mycar {
    height: 41px;
    border: 1px solid #d7d7d7;
    float: left;
    margin: 52px 10px;
  }
  .nav .mystore a,
  .nav .mycar a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .nav .mystore img,
  .nav .mycar img {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 5px 16px 5px 12px;
    float: left;
  }
  .nav .mystore span,
  .nav .mycar span {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    float: left;
    color: #747474;
  }
  .nav .mystore {
    width: 133px;
  }
  .nav .mycar {
    width: 152px;
    float: right;
    margin-right: 0px;
  }
  .nav .mycar span {
    margin-right: 5px;
  }
  .nav .mycar i {
    background-image: url("../images/index/xiabiao.png");
    display: inline-block;
    height: 6px;
    width: 10px;
    float: left;
    margin-top: 18px;
  }
  .daohang .w {
    height: 40px;
  }
  .daohang .w .navi {
    height: 540px;
  }
  .daohang .w .category {
    float: left;
    width: 250px;
    position: relative;
  }
  .daohang .w .category span#spfl {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #4c4c4c;
    color: #fffefe;
  }
  .daohang .w .category > ul {
    display: none;
    height: 480px;
    background-color: #4c4c4c;
    opacity: 0.8;
    position: relative;
    z-index: 2;
    padding-top: 20px;
  }
  .daohang .w .category > ul li {
    padding-left: 20px;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    color: #fffefe;
  }
  .daohang .w .category > ul li a {
    color: #fffefe;
  }
  .daohang .w .category > ul li:hover {
    background-color: #999395;
  }
  .daohang .w .category .secondkind {
    width: 900px;
    height: 449px;
    background-color: #f7f7f7;
    position: absolute;
    top: 41px;
    left: 250px;
    z-index: 2;
    display: none;
    padding: 25px;
  }
  .daohang .w .category .secondkind dl dt,
  .daohang .w .category .secondkind dl dd {
    float: left;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
  }
  .daohang .w .category .secondkind dl dt {
    width: 76px;
  }
  .daohang .w .category .secondkind dl dt a {
    font-weight: 700;
  }
  .daohang .w .category .secondkind dl dt a span {
    float: right;
    margin-right: 12px;
  }
  .daohang .w .category .secondkind dl dd {
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid #e0e0e0;
    margin-bottom: 8px;
  }
  .daohang .w .category .secondkind dl dd:nth-child(14) {
    margin-left: 76px;
  }
  .daohang .w .category .secondkind .fengexian {
    width: 95%;
    height: 1px;
    background-color: #eeeeee;
    margin: 2px 0 10px 0;
  }
  .daohang .w .othercategory li {
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-left: 30px;
    margin-top: 7px;
  }
  .daohang .w .othercategory li a {
    font-size: 17px;
  }
  .hengxian {
    height: 1px;
    background-color: #666666;
}