body {
  font-size: 14px;
  color: #333333;
}
.myCollect_main {
  margin-top: 25px;
}
.myCollect_main .main_left {
  width: 150px;
  display: inline-block;
  height: 478px;
}
.myCollect_main .main_left .member_center {
  height: 37px;
  background-color: #e01222;
  color: #fff;
  line-height: 37px;
  padding-left: 10px;
}
.myCollect_main .main_left dl {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
.myCollect_main .main_left dt {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  background-color: #eeeeee;
  color: #333333;
  padding-left: 18px;
  line-height: 26px;
  font-weight: 700;
}
.myCollect_main .main_left dt img {
  margin-left: 50px;
  position: relative;
  bottom: 2px;
}
.myCollect_main .main_left dd {
  padding-left: 32px;
  color: #333333;
  line-height: 30px;
}
.myCollect_main .main_left dd:last-child {
  margin-bottom: 18px;
}
.myCollect_main .main_left dd:first-child {
  margin-top: 12px;
}
.myCollect_main .main_right {
  width: 1029px;
  float: right;
  border: 1px solid #dadada;
}
.myCollect_main .main_right .title {
  height: 43px;
  border-bottom: 1px solid #dadada;
  background-color: #f4f4f4;
  display: table-cell;
  vertical-align: middle;
  width: 1005px;
  padding-left: 24px;
}
.myCollect_main .main_right .title span {
  line-height: 44px;
}
.myCollect_main .main_right .title select {
  width: 115px;
  height: 31px;
  border: 1px solid #dadada;
  float: right;
  margin-right: 12px;
  padding-left: 14px;
  color: #666666;
  margin-top: 7px;
}
.myCollect_main .main_right .content {
  padding-top: 17px;
}
.myCollect_main .main_right .content > ul li {
  padding: 15px 20px 20px 15px;
  width: 957px;
  margin: 0 auto;
  margin-bottom: 16px;
  border: 1px solid #dadada;
}
.myCollect_main .main_right .content > ul li div {
  color: #2e11aa;
  margin-bottom: 20px;
}
.myCollect_main .main_right .content > ul li i {
  float: right;
  color: #999999;
}
.myCollect_main .main_right .content > ul li .overflow {
  height: 50px;
  margin-top: 20px;
  overflow: hidden;
}
.myCollect_main .main_right .content > ul li .overflow p {
  color: #999999;
  line-height: 25px;
}
.myCollect_main .main_right .content > ul li .delete {
  color: #da0011;
}
.myCollect_main .main_right .content > ul li .check {
  color: #0c08ae;
  margin-left: 20px;
}
.myCollect_main .main_right .content > ul .msg div span {
  color: #7f7f7f;
}
.myCollect_main .main_right .content .page_num {
  font-size: 12px;
  margin-top: 30px;
  margin-right: 12px;
}
.myCollect_main .main_right .content .page_num > div {
  float: right;
  margin-bottom: 25px;
}
.myCollect_main .main_right .content .page_num > div > div,
.myCollect_main .main_right .content .page_num > div > ul {
  float: left;
}
.myCollect_main .main_right .content .page_num > div ul li {
  float: left;
  line-height: 26px;
  border: 1px solid #dadada;
  margin-right: 5px;
}
.myCollect_main .main_right .content .page_num > div ul li a {
  display: block;
}
.myCollect_main .main_right .content .page_num > div ul .first_page a,
.myCollect_main .main_right .content .page_num > div ul .up_page a,
.myCollect_main .main_right .content .page_num > div ul .next_page a,
.myCollect_main .main_right .content .page_num > div ul .last_page a {
  padding: 0px 17px;
}
.myCollect_main .main_right .content .page_num > div ul .page_number a {
  padding: 0px 9px;
}
.myCollect_main .main_right .content .page_num > div .totle_page {
  margin-top: 5px;
  margin-right: 13px;
}
.myCollect_main .main_right .content .page_num .changeRed {
  background-color: #e61010;
  color: #fff;
}
