.logo {
    height:136px;
    background-color: #e01222;
}
.main {
    height: 570px;
    .lunbo {
        margin-top: 125px;
    }
    .login {
        margin-top: 100px;
        .zhuce {
            width: 340px;
            margin-bottom: 12px;
            height: 14px;
            a,span {
                float: right;
                font-size: 14px;
            }
            a {
                color: #e01222;
            }
        }
        .content {
            width: 333px-58px;
            height: 347px-33px-36px;
            border: solid 3px #e0e0e0;
            padding: 33px 29px 36px;
            .layui-form-item {
                margin-bottom: 0px;
            }
            input {
                width: 264px;
                height: 34px;
                border: 1px solid #b5b5b5;
                margin-bottom: 20px;
                font-size: 14px;
                line-height: 34px;
                color: #999999;
                padding-left: 9px;
            }
            .yanzhengma {
                width: 119px;
                border: solid 1px #b5b5b5;
                float: left;
            }
            .layui-form-item .layui-input-inline {
                width: 264px;
            }
            .getyanzhengma {
                font-size: 14px;
                width: 120px;
                border: none;
                background-color: #ffffff;
                line-height: 36px;
                color: #e01222;
                display: inline-block;
                height: 36px;
                margin-right: 20px;
                float: right;
                text-decoration:none;
            }
            #zidong {
                width: 17px; 
                height: 17px;
                border: 1px solid #1c5180;
                color: #21a121;
                margin-bottom: 0px;
                margin-right: 12px;
                display: inline-block;
            }
            label,a {
                font-size: 14px;
                color: #555555;
            }
            a {
                text-decoration: underline;
                color: #e01222;
            }
            .submit {
                display: block;
                width: 273px;
                height: 36px;
                background-color: #e01222;
                font-size: 16px;
                line-height: 36px;
                color: #ffffff;
                margin-top: 20px;
                text-decoration: none;
                text-align: center;
                margin-left: 0px;
            }
            .layui-input-block {
                margin-left: 0px;
            }
        }

    }
}